<a href="https://colab.research.google.com/github/Anakha-s/Project-1/blob/main/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [3]:
#data viz pakages
import matplotlib.pyplot
import seaborn as sns

In [7]:
#load Dataset
df = pd.read_csv("covid19_tweets.csv")

In [8]:
#preview
df.head()

         user_name         user_location  ...               source is_retweet
0           ·èâ·é•‚òª’¨ÍÇÖœÆ            astroworld  ...   Twitter for iPhone      False
1    Tom Basile üá∫üá∏          New York, NY  ...  Twitter for Android      False
2  Time4fisticuffs      Pewee Valley, KY  ...  Twitter for Android      False
3      ethel mertz  Stuck in the Middle   ...   Twitter for iPhone      False
4         DIPR-J&K     Jammu and Kashmir  ...  Twitter for Android      False

[5 rows x 13 columns]